.message-input-container {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    bottom: 0%;
    border: 1px solid white;
    padding: 0.75rem;
    font-size: 14px;
    border-radius: 10px;
    width: 80%;
}

.send-icon {
    margin-right: 0.5rem;
}

.send-icon:hover {
    cursor: pointer;
}